<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <!-- In order to run this sample, please input your consumer key and consumer secret.  -->
	<add key="consumerKey" value="your consumer key"/>
	<add key="consumerKey" value="your consumer secret"/>

	<!-- Specify the URL of the local web server where the sample app is being hosted (IIS or the VS Development Web Server)  -->
	<add key="OAuthWebRedirect" value="http://localhost:49618"/>
  </appSettings>
</configuration>